.profile-wrapper {
  align-items: normal !important;
  grid-template-columns: 500px 1fr;
  column-gap: 20px;
}

@media screen and (max-width: 1200px) {
  .profile-wrapper {
    row-gap: 20px;
    grid-template-columns: 1fr;
  }
}

.user-profile-form {
  background-color: white;
  padding: 20px;
  border-radius: 12px
}

.form-container {
  display: block;
  background-color: white;
}

.user-info {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
}

.change-password-section {
  width: calc(100%);
}

.password-fields {
  display: flex;
  flex-direction: column;
  gap:4px;
}

.input-w-label {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

.input-w-label input {
  width:calc(100% - 150px);
}


.password-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.submit-btn {
  align-self: flex-end;
  width: 200px;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  margin-top: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.submit-btn:hover {
  background-color: #3498db;
}
